{% extends "importaciones/plantilla.html" %}

{% load staticfiles %}

{% block title %}Agregar Datos Individual{% endblock %}

{% block scripts %}
  <script src="{% static 'importaciones/js/agregar.js' %}"></script>

{% endblock %}

{% block content %}

<h1>Agregar datos individualmente</h1>
<p>Solo se permite ingresar datos de importaciones</p>

<div align="select">
  <form class="form-inline">
    <div class="form-group">
      <label for="listaProductos">Producto: </label>
      <select id="listaProductos" class="form-control">
          <option value="0" disabled="true" selected="true">Seleccionar...</option>
          {% for row in productos %}
          <option value="{{row.codigo_producto}}">{{row.nombre_producto}}</option>
          {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="listaAnios">Para el año: </label>
      <select id="listaAnios" class="form-control" onchange="habilitarMeses()">
        <option value="0" disabled="true" selected="true">Seleccionar...</option>
        {% for a in anios %}
        <option value="{{a.anio}}">{{a.anio}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="listaMeses">y el mes: </label>
      <select id="listaMeses" class="form-control" disabled="true">
        <option value="0" disabled="true" selected="true">Seleccionar...</option>
      </select>
    </div>
  </form>
</div>

<div class="dato">
  <form class="form-inline">
    <div class="form-group">
      <label for="txtDato">Dato:</label>
      <input type="text" id="txtDato" value="">
    </div>

    <input type="button" name="name" class="btn btn_default" value="Ingresar" onclick="validar()">
  </form>
</div>
{% endblock %}
