{% extends "importaciones/plantilla.html" %}

{% load staticfiles %}

{% block title %}Consultar Datos{% endblock %}

{% block scripts %}
  <script src="{% static 'importaciones/js/consulta.js' %}"></script>


{% endblock %}

{% block activo2 %}active{% endblock %}

{% block content %}
<h1>Consultar datos de productos</h1>

<div class="divFiltro">
  <form class="form-inline">
    <div class="form-group">
      <label for="listaOpciones">Consultar sobre: </label>

      <select id="listaOpciones" class="form-control" onchange="habilitarConsulta()">
        <option value='0' selected="true" disabled="true">Seleccionar...</option>

        {% for opc in lista_opciones %}
        <option value="{{forloop.counter}}">{{opc}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="listaAnio">Año:</label>

      <select id="listaAnio" class="form-control" disabled="true">
        <option value='' selected="true" disabled="true">Seleccionar...</option>
      </select>
    </div>

    <div class="form-group">
      <label for="listaProductos">Productos:</label>

      <select id="listaProductos" class="form-control" disabled="true">

        <option value="" selected="true" disabled="true">Select...</option>


      </select>
    </div>


    <input class="btn btn.default" type="submit" value="Consultar">
  </form>
</div>

<div class="divTabla">
  <table class="table table-striped">
    <caption> Resultado de la busqueda </caption>
    <thead>
      <tr>
        <th> Mes </th>
        <th> Cantidad(millones $)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>

<input type="button" name="btnGraficar" value="Graficar Datos">

{% endblock %}
