{% extends "importaciones/plantilla.html" %}

{% block title %}Editor de Formulas{% endblock %}

{% block activo3 %}active{% endblock %}

{% block content %}
<!--aqui comienzan los contenedores de las formulas-->
<div class="Variables">

</div>

<div class="Operadores">

</div>

<div class="Constantes">

</div>
<br>

<p align="center">
  <input type="text" name="name" value="">
  <input type="button" name="name" value="Calcular">
</p>

<br>

<table  border="1" width="200" cellspacing="1">
  <thead>
    Resultados
  </thead>
  <tr>
    <td>
      1
    </td>
    <td>
      2
    </td>
    <td>
      3
    </td>
    <td>
      4
    </td>
    <td>
      5
    </td>
  </tr>
  <tr>

  </tr>
  <tr>

  </tr>
  <tr>

  </tr>
</table>
<br>
<p align="center">
  <input type="button" name="name" value="Graficar">
</p>
{% endblock %}
