{% extends "importaciones/plantilla.html" %}

{% block title %}Información{% endblock %}

{% block activo1 %}active{% endblock %}

{% block content %}
<h1>Flujo de importaciones en El Salvador</h1>

<h2>Sistema Arancelario Centroamericano</h2>
<p>
  En El Salvador utilizamos el Sistema Arancelario Centroámericano que permite la clasificación de los productos que se importan y exportan. Es un código númerico que representa a cada mercancía con 8 números, agrupando 4 parejas de dígitos.
</p>

<p>
  La categoría es:
  <ul>
  <li> Los primeros dos dígitos identifican al capítulo, la categoría más general de la mercancía.</li>
  <li> Los siguientes dos identifican la partida.</li>
  <li> El tercer par identifica a la sub partida de la mercancía.</li>
  <li> El último par identifica los incisos, la categoría más especifíca.</li>
  </ul>
</p>


<h2>Importaciones</h2>
<p>
  Las importaciones son los productos que un Estado compra o recibe del exterior, generalmente para cumplir con la demanda de productos que no se producen localmente.
</p>

<h2> Balanza Comercial</h2>
<p>
  La Balanza Comercial es el registro de las exportaciones e importaciones de un país cualquiera durante un período y su valor es la diferencia entre exportaciones e importaciones, es decir entre el valor de los bienes que un país vende al exterior y el de los que compra a otros países.
</p>


<h2> Producto Interno Bruto (PIB)</h2>
<p>
  El PIB de un país expresa el valor monetario de la producción final en un periodo de tiempo. Se mide los bienes y servicios producidos para ser vendidos, y no así los productos destinados para ser usados como materia prima en la producción de otros productos.
</p>

<h2>Los cinco productos mas importados.</h2>

<p>El sitio mostrara cuales son los cinco productos mas importados desde 2014 a 2015.
Solo en ese intervalo de tiempo</p>

<p> Se puede observar que los 5 productos con mayor índice de importación en los últimos dos años se mantienen constantes, por lo que estos 5 productos serán considerados los de mayor índice de importación.</p> 
<p>A continuación se detalla lo que describe cada uno de estos incisos:</p>

<li>27101921: combustibles y aceites minerales - aceites de petróleo - aceite diésel.  </li>
<li> 27101230: combustibles y aceites minerales - aceites de petróleo - aceites ligeros - gasolinas (excepto gasolinas de aviación u éter de petróleo)
</li>
<li> 27101922: combustibles y aceites minerales - aceites de petróleo - combustóleo (fuel oil N° 6)</li>
<li> 30049091: productos farmacéuticos - medicamentos que no contienen antibióticos, hormonas, vitaminas ni alcaloides - para uso humano.</li>
<li> 85171200: Aparatos y material eléctrico - teléfonos - teléfonos móviles.</li>
{% endblock %}
